header#navigation.navbar.navbar-default(role='banner')
  .container
    .navbar-header
      button#nav-toggle.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.hover-purple(href='/') Partials
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.nav.navbar-nav.navbar-right
        li
          a(href='http://partialsmusic.bandcamp.com', data-toggle='') music
        li
          a(href='https://www.youtube.com/channel/UCQh5Sxu9Rvtaqg7Fo4xMogw', data-toggle='') videos
        li
          a(href='/booking.html') booking
        li
          a(href='/facebook') facebook
