// build:css /styles/all.css
block styles
  link(rel='stylesheet', href='styles/main.css')
  link(rel='stylesheet', href='styles/lib/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='styles/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css')
// endbuild
