doctype html
head
  block title 
    title Partials

  // General META
  meta(charset='utf-8')
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='google-site-verification', content='dMgGnw_1tekKhe78EwsLBSvlKZkmVsUPDyNx6o5bWPs')

  // Semantic META
  meta(name='keywords', content='music, worldbuilding, audio')
  meta(name='description', content='We make musical worlds.')

  // Fav Icon
  link(href='../img/favicon.ico', rel='shortcut icon', type='image/x-icon')

  // Application CSS Files
  include ./default-styles.jade
