block unprocessed-scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')

// build:js(app/) /scripts/all.js
block scripts
  script(src="scripts/main.js")
  script(src='scripts/lib/bootstrap-3.3.6-dist/js/bootstrap.min.js')
// endbuild
