doctype html
head
  block head
    include ./default-head.jade
body#home 
  block navigation
    include ./default-navigation.jade
  block content
  block footer
    include ./default-footer.jade
  include ./default-scripts.jade
    
