extends ./partials/layout.jade
include ./partials/responsive-bandpage-widget.jade

block content
    .middle.container
      section#intro.text-center.pull-down
        h2 Hi! We made a press kit for you.&nbsp;
          a(href="../files/partials-press-kit.pdf") Download&nbsp;
          | it here.
        p It has all our images, contact info, and an easy-to-grab bio.

      section#bio.abridged
        .row
          .col-md-6.info
            h2 Bio
            a(name="bio")
            p
              strong We make beautiful new sounds that get people dancing.&nbsp;
              | We formed a year and a half ago in Athens, Georgia, and what we care about most is introducing you to new music.
              a.read-more(href="#") more

            p
              | We’re recording a song every two weeks. We dig up thousands of musics and put them in a very small cauldron.&nbsp;
              | Much of what goes in is psychedelic and danceable. Much of what comes out is ocean noise, but we’re working hard to make it something you’ll like.

            p
              | If you’re curious, we handmade our website so you can talk to us. It’s&nbsp;
              a(href="/") partials.co

          .col-md-6.embed-responsive.embed-responsive-youtube
            iframe#player.embed-responsive-item(src="https://www.youtube.com/embed/nKOF5qtlO0w?color=white&controls=2&enablejsapi=1&autohide=1&showinfo=0" allowfullscreen)

      section#live-videos
        .row
          .col-md-6.info
            h2 Live Videos
            a(name="live-videos")
          .col-md-6.embed-responsive.embed-responsive-youtube
            iframe#player.embed-responsive-item(src="https://www.youtube.com/embed/videoseries?list=PLEFwcC4Sko3l5VzIdpWwEghBB6S-xLWiq&color=white&controls=2&enablejsapi=1&autohide=1&showinfo=1" allowfullscreen)

      section#contact
        .row
          .col-md-12.info.text-center
            h3 Wanna talk?
              a(name="contact")
              script.
                // obfuscate email address from nefarious robots
                function generateMailtoLink(lhs, rhs) {
                  document.write('<a href="mailto');
                  document.write(':' + lhs + '@');
                  document.write(rhs + '">' + lhs + '@' + rhs + '</a>');
                }
                generateMailtoLink('hi', 'partials.co');

block append unprocessed-scripts
  script(async src='//www.bandpage.com/extensionsdk')
