extends ./partials/layout.jade
block content
  .middle.container
    #shows-info.col-md-12.text-center
      // BandPage doesn't have responsive widgets, so we *make* them responsive!
      .visible-xxs-block
        .bp-extension(data-bandpage-bid='523597833484374016')
      .visible-xs-block
        .bp-extension(data-bandpage-bid='523596955281006592')
      .visible-sm-block
        .bp-extension(data-bandpage-bid='472890892710158336')
      .visible-md-block.visible-lg-block
        .bp-extension(data-bandpage-bid='523597562683330560')
block append unprocessed-scripts
  script(async src='//www.bandpage.com/extensionsdk')
