/* eslint-env serviceworker */
self.importScripts('/sw-toolbox/sw-toolbox.js')

const precacheResources = [
  '/images/manley-palmer-hall-bw-${imageEnding}',
  '/images/manley-palmer-hall-bw-${placeholderImageEnding}',
  '${mainFilename}',
  'favicon.ico'
]

const toolbox = self.toolbox

toolbox.options.debug = true
toolbox.precache(precacheResources)
toolbox.router.default = toolbox.fastest

self.addEventListener('install', function () {
  self.skipWaiting()
})

self.addEventListener('activate', function (event) {
  event.waitUntil(self.clients.claim())
})
